chardet==4.0.0
click==8.0.1
colorama==0.4.4
et-xmlfile==1.1.0
Flask==2.0.1
Flask-Excel==0.0.7
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
lml==0.1.0
MarkupSafe==2.0.1
mutagen==1.45.1
openpyxl==3.0.8
pyexcel==0.6.7
pyexcel-io==0.6.4
pyexcel-webio==0.1.4
pygame==2.0.1
SQLAlchemy==1.4.23
texttable==1.6.4
Werkzeug==2.0.1
