<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload User Data</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6">
            <input type="file" multiple name="Excel" />
            <p>Drag your files here or click in this area.</p>
          </div>
        </div>
        <p></p>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6">
            
          </div>
        </div>
        
    </div>
    <p></p>
    <button type="submit" formaction="/uploaduserdata">
      Upload
    </button>
  </form>
    
</body>
</html>